@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf9f8;
}

@layer base {
  html {
    font-family: "Marcellus", Open-Sans, system-ui, sans-serif;
  }
}

.nav-bars {
  @apply transition-all duration-200 ease-in-out;
}

.nav--input:checked ~ .nav-bars {
  @apply translate-x-0;
}

.nav--overlay {
  @apply hidden fixed top-0 right-0 bottom-0 left-0 overflow-hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav--input:checked ~ .nav--overlay {
  @apply block z-10 overflow-hidden;
}
